@model IEnumerable<NewspaperSubscription.Models.Customer>

@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1>GetAllCustomers</h1>

<table class="table dark-background">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customeraddress)
            </th>
            <th>
                Customer City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customeraddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomercityNavigation.Cityname)
            </td>
            <td>
                <a asp-action="CustomerDetails" asp-route-id="@item.Customerid">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
